.fale_comigo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 80px 4%;
}

.sub_fale_comigo{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    gap: .5rem;

}

.sub_fale_comigo span{
    color:  rgb(186, 189, 9);
}

form{
    max-width: 31.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .625rem; 
    
}

form input, form textarea{
    width: 100%;
    background-color: rgba(56, 52, 52, 0.137);
    padding: .375rem .9375rem;
    border: 1%;
    outline: 0;
    border-radius: 10px;
    font-size: .9375rem;  
    margin-bottom: .5rem;

}

form textarea{
    max-height: 500px;   
    resize: none;

}


.btn-enviar {
       
    background-color: rgb(239, 243, 27);
    color: #000;
    font-weight: 650;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: bold;
    font-family: 'Comic Neue', cursive 700;        
    padding: 0.6rem 1.4rem;
    font-size: 1.0625rem;
    border: none;
    border-radius: 5rem;
    margin: 15px auto;    
    transition: all 0.5s;  
    width: 15rem;    

}

.btn-enviar input:hover{
    background-color: rgb(255, 251, 0);
    color: #000;
    box-shadow: 3px 0px 20px rgba(255, 145, 0, 0.623);
    width: 20rem;
    transform: scale(1.05);

}